

/* --------------------------home-page start-------------------------------------*/
.bungee {
  font-family: 'Bungee', sans-serif;
    font-size: 1vw;
  z-index: 1;
}


.nunito-title h1 {
font-family: 'Nunito', sans-serif;
  font-size: 5vw;
  z-index: 2;
   color: #586BA4;
}

.nunito-text {
font-family: 'Nunito', sans-serif;
  font-size: 3vw;
  z-index: 2;
   color: #586BA4;
}

.nunito-text button {
font-family: 'Nunito', sans-serif;
  font-size: 2.5vw;
   background-color: transparent;
    border: none;
  cursor: none;
  z-index: 2;
  color: #586BA4;
}

.nunito-text button:hover {
font-family: 'Nunito', sans-serif;
  font-size: 2.8vw;
   background-color: transparent;
    border: none;
  cursor: none;
  z-index: 2;
  color: #B46005;
  content: "New Text";
}

.nunito-text button:hover::after {
   content: "!";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circular-button {
  width: 7.81vw; /* Adjust button size */
  height: 14.5vh; /* Adjust button size */
  border-radius: 50%; /* Make it circular */
  background-color: transparent; /* Button background color */
  color: #ffffff; /* Text color */
  font-size: 16px; /* Text size */
  border: none; /* Remove border */
   cursor: none;
}

#centerText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  left: 50%; /* Align the left of the text to the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}

#leftText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  left: 3%; /* Align the left of the text to the horizontal center of the viewport */
   /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}

#rightText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  right: 3%; /* Align the left of the text to the horizontal center of the viewport */
   /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}

.hidden, .hidden1, .hidden2 {
  display: none; /* Hide the text initially */
}


.visible {
   display: flex; /* Show the text when 'visible' class is applied */
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */
}

.visible1 {
  display: flex;
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */ 
}

.visible2 {
  display: flex;
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */ 
}


/* --------------------------work-------------------------------------*/


.bitter-w{
  font-family: 'Bitter', serif;
  
}





/* --------------------------keyframes------------------------------------*/

@keyframes fadeIn {
0%{
    opacity: 0;
  }
100%{
    opacity: 1;
  }
}




