

/* --------------------------home-page start-------------------------------------*/

body {
  background-color: #EDE7DC; /* Replace #ffffff with your desired color code */
}

.bungee {
  font-family: 'Bungee', sans-serif;
    font-size: 1vw;
  z-index: 1;
}


.nunito-title h1 {
font-family: 'Nunito', sans-serif;
  font-size: 5vw;
  z-index: 2;
   color: #586BA4;
}

.nunito-text {
font-family: 'Nunito', sans-serif;
  font-size: 3vw;
  z-index: 2;
   color: #586BA4;
}

.nunito-text-button {
font-family: 'Nunito', sans-serif;
  font-size: 2.5vw;
   background-color: transparent;
    border: none;
  cursor: none;
  z-index: 2;
  color: #586BA4;
}

.nunito-text-button:hover {
font-family: 'Nunito', sans-serif;
  font-size: 2.8vw;
   background-color: transparent;
    border: none;
  cursor: none;
  z-index: 2;
  color: #B46005;
}

.nunito-text-button:hover::after {
   content: "!";
}

.nunito-text-button2 {
font-family: 'Nunito', sans-serif;
  font-size: 2vw;
   background-color: transparent;
    border: none;
  cursor: none;
  z-index: 2;
  color: #586BA4;
}

.nunito-text-button2:hover {
font-family: 'Nunito', sans-serif;
  font-size: 2vw;
   background-color: transparent;
    border: none;
  cursor: none;
  z-index: 2;
  color: #B46005;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circular-button {
  width: 7.81vw; /* Adjust button size */
  height: 14.5vh; /* Adjust button size */
  border-radius: 50%; /* Make it circular */
  background-color: transparent; /* Button background color */
  color: #ffffff; /* Text color */
  font-size: 16px; /* Text size */
  border: none; /* Remove border */
   cursor: none;
}

#centerText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  left: 50%; /* Align the left of the text to the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}

#leftText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  left: 3%; /* Align the left of the text to the horizontal center of the viewport */
   /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}

#rightText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  right: 3%; /* Align the left of the text to the horizontal center of the viewport */
   /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}

#bottomText {
  position: fixed; /* Position the text relative to the viewport */
  bottom: 3%; /* Align the top of the text to the vertical center of the viewport */
  left: 50%; /* Align the left of the text to the horizontal center of the viewport */
   /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
  transform: translate(-50%, -50%);
}

.hidden, .hidden1, .hidden2, .hidden3 {
  display: none; /* Hide the text initially */
}


.visible {
   display: flex; /* Show the text when 'visible' class is applied */
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */
}

.visible1 {
  display: flex;
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */ 
}

.visible2 {
  display: flex;
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */ 
}

.visible3 {
  display: flex;
  animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */ 
}

/* --------------------------------work------------------------------------------------*/


.bitter-w {
  font-family: 'Bungee', serif;
   z-index: 2;
   color: #586BA4;
  }

.fade-in-w{
    animation: fadeIn;
    animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease; /* Timing function */
  animation-iteration-count: forwards; /* Apply the fade-in animation */ 
}

/* Style the dropdown button */
.dropbtn-w {
  background-color: transparent;
  color: #586BA4;
  padding: 1vw;
  border: none;
  cursor: pointer;
}

.dropbtn-w:hover{
  background-color: transparent;
  color: #B46005;
  padding: 1vw;
  font-size: 2.8vw;
  border: none;
}

.dropdown-w button{
 font-family: 'Nunito', sans-serif;
  font-size: 2.5vw;
  z-index: 2;
   color: #586BA4;
}

.dropbtn-w:hover::after {
   content: "!";
}


/* Style the dropdown content (hidden by default) */
.dropdown-content-w {
  
  display: none;
  position: absolute;
  background-color: #EDE7DC;
  min-width: 1vw;
   border: none;
  z-index: 1;
  padding: 1vw;
}


/* Style the links inside the dropdown */
.dropdown-content-w a {
   font-family: 'Bitter', serif;
  font-size: 2vw;
  color: #586BA4;
  padding: .3vw .5vw;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-w a:hover {
    color: #B46005;
}

.dropdown-content-w a:hover::after {
   content: "!";
}

/* Show the dropdown menu on hover */
/* .dropdown-w button:hover +  .dropdown-content-w {
  display: block;
}
 */

/* Style for the container */
.container-w {
  display: flex;
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
}

/* Style for the flex container */
.flex-container-w {
  display: flex;
  flex-wrap: wrap;
 
}

/* Style for each flex item */
.flex-item-w {
  display: flex;
 align-items: center; /* Center vertically */
  width: 100%; /* Adjust width as needed */
  margin-bottom: 2%; /* Adjust spacing between rows */
}

/* Style for text on the left */
.flex-item-w p {
  margin-right: 2%; /* Adjust spacing between text and image */
  width: 40%; /* Adjust width of text */
}

/* Style for image on the right */
.flex-item-w img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  width: 50%; /* Adjust width of image */
}

#upRightText {
  position: fixed; /* Position the text relative to the viewport */
  top: 50%; /* Align the top of the text to the vertical center of the viewport */
  right: 3%; /* Align the left of the text to the horizontal center of the viewport */
   /* Move the text back by half of its own width and height */
  text-align: center; /* Center the text horizontally */
}




/* --------------------------keyframes------------------------------------*/

@keyframes fadeIn {
0%{
    opacity: 0;
  }
100%{
    opacity: 1;
  }
}




