.nunito {
font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circular-button {
  width: 7.81vw; /* Adjust button size */
  height: 14.5vh; /* Adjust button size */
  border-radius: 50%; /* Make it circular */
  background-color: transparent; /* Button background color */
  color: #ffffff; /* Text color */
  font-size: 16px; /* Text size */
  border: none; /* Remove border */
   cursor: none;
}

.hidden {
  display: none;
}